
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>车辆信息管理</title>
<link rel="stylesheet" type="text/css" href="/ui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/ui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/image.css">
<script type="text/javascript" src="/ui/jquery.min.js"></script>
<script type="text/javascript" src="/ui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/ui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src='/js/utils/utils.js'></script>
<script type="text/javascript" src="/js/CarAndDriverManage/carinfo/carinfo.js"></script>
<script type="text/javascript" src="/js/serializeJSON.js"></script>


</head>
<body>
	<!--搜索区  -->
	<div class="easyui-panel">
		<form id="searchForm">
			<table cellpadding="5">
				<tr>
					<td>车牌号：</td>
					<td><input type="text" id="changeName1" name="cum" size="24" maxlength="50" class="easyui-combobox" data-options="required:false,validType:'special'" /></td>
					<td><button type="button" id="btnSearch">查询</button></td>
				</tr>
			</table>
		</form>
	</div>
	<table id="test"></table>
	<div id="w" class="easyui-window" title="修改用户" style="width: 550px" data-options="closed:true">
		<form id="updateUserForm" method="post" enctype="multipart/form-data" target="upload">
			<input name="cid" type="hidden">
			<table cellpadding="5" border="0" style="width: 520px">
				<tr>
					<td>车牌号码:</td>
					<td><input type="text" name="cnum" /></td>
				</tr>

				<tr>
					<td>车辆型号:</td>
					<td><input name="ctype" type="text" /></td>
				</tr>

				<tr>
					<td>车辆记录:</td>
					<td><input name="crecord" type="text" /></td>
				</tr>
				<tr>
					<td>车辆计划:</td>
					<td><input name="cplan" type="text" /></td>
				</tr>
				<tr>
					<td>状态:</td>
					<td><select name="cstate" panelHeight="auto" style="width: 175px" class="easyui-combobox" editable="flase">
							<option>---请选择---</option>
							<option value="可用">可用</option>
							<option value="繁忙">繁忙</option>
					</select></td>
				</tr>
				<tr>
					<td align="center"><button id="updateUser" type="button">修改</button></td>
				</tr>
			</table>
		</form>
	</div>

	<div id="e" class="easyui-window" title="添加用户" style="width: 550px" data-options="closed:true">
		<form id="adduserForm" method="post" enctype="multipart/form-data">
			<input name="user_id" type="hidden">
			<table cellpadding="5" border="0" style="width: 520px">
				<tr>
					<td>车牌号码:</td>
					<td><input type="text" name="cnum" /></td>
				</tr>

				<tr>
					<td>车辆型号:</td>
					<td><input name="ctype" type="text" /></td>
				</tr>

				<tr>
					<td>车辆记录:</td>
					<td><input name="crecord" type="text" /></td>
				</tr>
				<tr>
					<td>车辆计划:</td>
					<td><input name="cplan" type="text" /></td>
				</tr>
				<tr>
					<td>状态:</td>
					<td><select name="cstate" panelHeight="auto" style="width: 175px" class="easyui-combobox" editable="flase">
							<option>---请选择---</option>
							<option value="可用">可用</option>
							<option value="有计划">有计划</option>
							<option value="繁忙">繁忙</option>
					</select></td>
				</tr>
				<tr>
					<td align="center"><button id="addUser" type="button">保存</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
